<h1>Edit: <%= @gorilla.name %></h1>
<% if @gorilla %>

 <form action="/gorillas/<%= @gorilla.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class = "form-group">
<h3>Name: <span class="label label-default"></h3><input type="text" class="form-control" name="name" value="<%= @gorilla.name %>" ></br>
  </div>
  <div class = "form-group">
 <h3>Age: <span class="label label-default"></h3><input type="text" class="form-control" name="age" value="<%= @gorilla.age %>"></br>
  </div>
  <h3>Preserve: <span class="label label-default"></h3>
   <select name="preserve_id">

     <% @preserves.each do |preserve| %>
       <% if preserve.id == @gorilla.preserve_id %>
         <% selected = "selected" %>
       <% else %>
         <% selected = "" %>
       <% end %>
       <option value="<%= preserve.id %>" <%= selected %>>
         <%= preserve.name %>
       </option>
     <% end %>
   </select>

  <input type="submit" value="Move Gorilla" class="btn btn-primary" >

</form>
<% else %>

  <p>No Gorilla of that ID exists</p>
<% end %>

<h2>Give up on recapturing <%= @gorilla.name %></h2>
  <form action="/gorillas/<%= @gorilla.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type ="submit" value="Gorilla is gone for ever" class="btn btn-danger">
  </form>