
<% if @gorilla %>
  <h1><%= @gorilla.name %></h1>
 	<p><em>Age:</em> <%= @gorilla.age %></p>

 	<img src="../gorilla<%= @gorilla.id %>.jpg" class="img-responsive" width="304" height="236"> 


  <p><em>Currently Located:</em> <%= @gorilla.preserve ? "#{@gorilla.preserve.name} Preserve" : "Escaped the preserve area" %></p>

    <% if @gorilla.preserve_id != nil %>

      <hr>

      <% if @gorilla.hunger_level < 1 %>
      
      	<h4><%= @gorilla.name %> has had plenty to eat.
      
      <% elsif @gorilla.hunger_level == 1 %>	
    	
      	<h3><%= @gorilla.name %> is hungry and starting to look at you funny.

      <% elsif @gorilla.hunger_level > 1 %>	
    	
      	<h2><%= @gorilla.name %> is famished and may make a run for it.
    		
      <% end %>

      <% if @gorilla.anger_level < 1 %>
      
      	<h4><%= @gorilla.name %> is happy and all smiles.
      
      <% elsif @gorilla.anger_level == 1 %>	
    	
      	<h3><%= @gorilla.name %> is angry.

       <% elsif @gorilla.anger_level > 1 %>	
    	
      	<h2><%= @gorilla.name %> is mad and ready to fight.
      
      <% end %>


      <% if @gorilla.wranglers.count > 0 %>  
    	  <h3>Wranglers currently assigned to take care of <%= @gorilla.name %></h3>
    	  <% @gorilla.wranglers.each do |wrangler| %>
    	  	<p><%= wrangler.name %><P>
    	  <% end %>
      <% end %>
      <hr>
     <% end %>  
  <% else %>
      <p>No gorilla by that name exists</p>


<% end %>

<p><a href="/gorillas/<%= @gorilla.id %>/edit">Change Something About Gorilla</a></p>
<p><a href="/gorillas/<%= @gorilla.id %>/wranglers">Assign Wranglers</a></p>
<p><a href="/gorillas">Back to All Gorillas</a></p>