<h1>Edit: <%= @wrangler.name %></h1>
<% if @wrangler %>

 <form action="/wranglers/<%= @wrangler.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class="form-group">
 <h3>Name: <span class="label label-default"></h3><input type="text" name="name" value="<%= @wrangler.name %>" class="form-control"></br>
<h3>Age: <span class="label label-default"></h3><input type="text", name="age", value="<%= @wrangler.age %>" class="form-control"></br>
<h3>Preserve: <span class="label label-default"></h3>
   <select name="preserve_id">
     <option>Send Fishing</option>
     <% @preserves.each do |preserve| %>
       <% if preserve.id == @wrangler.preserve_id %>
         <% selected = "selected" %>
       <% else %>
         <% selected = "" %>
       <% end %>
       <option value="<%= preserve.id %>" <%= selected %>>
         <%= preserve.name %>
       </option>
     <% end %>
   </select>
  <input type="submit" value="Assign Wrangler" class="btn btn-primary">
</form>
<% else %>
  <p>No Wrangler of that ID exists</p>
<% end %>

<h2><%= @wrangler.name %> wants to retire</h2>
  <form action="/wranglers/<%= @wrangler.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type ="submit" value="Retire Wrangler" class="btn btn-danger">
  </form>